<h1>Make your form here</h1>
<form method="POST" action="/pirates">
  <label for="name"> Pirate Name</label>
  <input type="text" id="pirate[name]" name="pirate[name]">
  <label for="weight"> Pirate Weight</label>
  <input type="text" id="pirate[weight]" name="pirate[weight]">
  <label for="height"> Pirate Height</label>
  <input type="text" id="pirate[height]" name="pirate[height]">
  <label for="name"> Ship Name</label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="weight"> Ship Type</label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="height"> Ship Booty</label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <label for="name"> Ship Name</label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="weight"> Ship Type</label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="height"> Ship Booty</label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="Submit" value="submit">
</form>
